@model AhorrosPrestamos1.Models.Solicitud

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Home_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Home_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequesterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
